#review {
  display: flex;
  flex-direction: column;
  padding: 3% 0;
  background-color: var(--clr-1);
  color: var(--clr-4);
}

.span1,
span2 {
  margin-bottom: 3%;
}

.span1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formText {
  font-size: 20px;
  color: var(--clr-4);
}

.span2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleComment {
  margin-bottom: 20px;
  text-align: center;
  font-size: x-large;
}

.commentArea {
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  margin: 20px 0;
}

.btnComment {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  color: var(--clr-1);
  background-color: var(--clr-3);
  box-shadow: 2px 2px var(--clr-1);
}

.usersComments {
  display: flex;
  flex-direction: column;
  width: 25vw;
  column-gap: 3%;
  margin-bottom: 2%;
}

.starsComment {
  display: flex;
  flex-direction: row;
}

.noComment {
  margin-bottom: 3%;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: "★ ";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.renderRateDetailsPlace {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  background-color: var(--clr-4);
  color: var(--clr-1);
  padding: 5%;
  border: 1px solid gray;
}

.rateBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btnEditRate,
.btnDeleteRate {
  width: 100px;
  border: none;
  border-radius: 30px;
  background-color: var(--clr-2);
  box-shadow: 2px 2px black;
}

.renderStarRate {
  display: flex;
  flex-direction: row;
}
