.profileHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-4);
}

.profileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-4);
}

.profilElements {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Profile details styles */
.profileLabel {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px 0 3% 0;
  font-family: gotham-black;
}

.profileLabelEmail {
  width: 95%;
}

.profilEmail {
  width: 90%;
}

.profileLabel p {
  margin-bottom: 0;
}

.profileInput {
  width: 95%;
  height: 30px;
  border-radius: 10px;
  border: 0.1px solid var(--clr-1);
  box-shadow: 2px 2px var(--clr-1);
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 5%;
  margin-top: 3%;
  font-family: gotham-light;
}

.profileInputEmail {
  width: 100%;
}

.profileFormSubmit,
.profiledelete {
  background-color: var(--clr-4);
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.profileDeleteBtn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: var(--clr-4);
  background-color: var(--clr-1);
  box-shadow: 2px 2px var(--clr-1);
}

/* Travel list styles */
.travel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  background-color: var(--clr-2);
  padding-bottom: 40px;
}

.myTravels {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-2);
}

.myTravelsTitle {
  padding: 20px 0 10px 0;
  color: var(--clr-4);
  font-family: "Fira Sans", sans-serif;
}

.userTravels {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traCardProfile {
  width: 75%;
  height: 400px;
  background-color: var(--clr-4);
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.userTravelsBtn {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.userTravelsBtn .editButton {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  color: var(--clr-1);
  background-color: var(--clr-3);
  box-shadow: 2px 2px var(--clr-1);
}

.userTravelsBtn .deleteButton {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  color: var(--clr-4);
  background-color: var(--clr-1);
  box-shadow: 2px 2px var(--clr-1);
}

@media (min-width: 992px) {
  .profilElements {
    width: 50%;
    flex-direction: row;
  }

  .profilEmail {
    width: 50%;
  }

  .profileLabelEmail {
    width: 98%;
  }

  .userTravels {
    width: 30%;
  }

  .traCardProfile {
    width: 70%;
    height: 550px;
  }
}
