/*********************
        HOME
*********************/

.homeBtn {
  background-color: #ff8c00;
  font-size: 15px;
  text-decoration: none;
  font-family: gotham-black;
  color: var(--clr-4);
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*********************
        WELCOME
*********************/

.welcome {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
}

.welVideo {
  position: absolute;
  z-index: -1;
  height: 80vh;
}

.company {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-bottom: 3%;
}

.name {
  font-family: "Fira Sans", sans-serif;
  font-size: large;
  color: var(--clr-4);
  margin: 0;
}

.welTitle {
  font-family: "Fira Sans", sans-serif;
  font-size: 35px;
  color: var(--clr-4);
  text-align: center;
}

/*********************
    PRESENTATION
*********************/

.presentation {
  width: 100%;
  background-color: var(--clr-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
}

.part1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.part1-top {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.preTitle {
  font-family: "Fira Sans", sans-serif;
  padding-bottom: 3%;
  color: var(--clr-1);
}

.preDescription {
  font-family: gotham-light;
  color: var(--clr-1);
  width: 95%;
  padding-bottom: 8%;
}

.preBtn {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding-bottom: 3%;
}

.preImage {
  width: 95%;
}

/*********************
    TRAVELS
*********************/

.travels {
  width: 100%;
  background-color: var(--clr-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

.traTitle {
  font-family: "Fira Sans", sans-serif;
  padding-bottom: 5%;
  color: var(--clr-4);
}

.renderTravel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traCard {
  width: 75%;
  height: 400px;
  background-color: var(--clr-4);
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.cardImage {
  width: 100%;
  min-height: 50%;
  border-radius: 20px 20px 0 0;
}

.cardInfos {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
  width: 95%;
}

.cardTitle {
  font-family: "Fira Sans", sans-serif;
  padding-bottom: 3%;
  color: var(--clr-1);
  margin: 0;
}

.cardCountry,
.cardDays {
  font-family: gotham-light;
  padding-bottom: 3%;
  color: var(--clr-1);
  margin: 0;
}

/*********************
    ADVANTAGES
*********************/

.advantages {
  width: 100%;
  background-color: var(--clr-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

.advTitle {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  padding-bottom: 5%;
  color: var(--clr-1);
}

.advAllInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
  width: 95%;
}

.infoImage {
  width: 40%;
  margin-bottom: 5%;
}

.infoTitle {
  width: 80%;
  text-align: start;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 3%;
}

.infoDescription {
  width: 80%;
  text-align: justify;
  font-family: gotham-light;
}

@media (min-width: 992px) {
  .homeBtn {
    font-size: 20px;
    width: 300px;
    height: 60px;
  }

  .welVideo {
    position: absolute;
    width: 100%;
    height: auto;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .name {
    font-family: "Fira Sans", sans-serif;
    font-size: xx-large;
    color: var(--clr-4);
    margin: 0;
  }

  .welTitle {
    font-family: "Fira Sans", sans-serif;
    font-size: 55px;
    color: var(--clr-4);
    text-align: center;
  }

  .presentation {
    flex-direction: row;
    justify-content: space-around;
  }

  .part1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .preImage {
    width: 30%;
  }

  .travels {
    flex-wrap: wrap;
  }

  .traTitle {
    font-size: 50px;
  }

  .renderTravel {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10%;
  }

  .traCard {
    width: 25%;
    height: 550px;
  }

  .advTitle {
    padding-bottom: 0;
    font-size: 50px;
  }

  .advAllInfo {
    flex-direction: row;
  }

  .infoTitle {
    text-align: center;
  }
}
