.detailsTravel {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
}

.detailsPart1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-4);
  color: var(--clr-1);
  padding: 30px 0;
  gap: 20px;
}

.detailsTitle {
  font-size: 40px;
  font-family: gotham-black;
}

.detailsCountry,
.detailsNumberDays {
  font-family: gotham-light;
  font-size: 20px;
}

.imgTravel {
  max-width: 90%;
  max-height: 80vh;
}

.detailsPart2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-2);
  color: var(--clr-4);
  padding: 30px 0;
  gap: 20px;
}

.detailsDayTitle {
  font-family: gotham-black;
  font-size: 32px;
}

.detailsDayDesc {
  width: 90%;
  font-family: gotham-light;
  font-size: 20px;
}

.detailsDayImgCarousel {
  width: 90%;
  height: 300px;
}

.detailsDayImg {
  width: 100%;
  height: 300px;
}

.legislationTravel {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  gap: 20px;
  padding: 30px 5%;
  background-color: var(--clr-4);
  color: var(--clr-1);
}

.legislationTitle {
  font-family: gotham-black;
  font-size: 25px;
}

.legislationDesc {
  font-family: gotham-light;
  font-size: 20px;
}

@media (min-width: 992px) {
  .detailsDayImgCarousel {
    width: 50%;
    height: 500px;
  }
  .detailsDayImg {
    height: 500px;
  }
}
